{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="description" content="Author: Jean Piere Aldair Fernandez Torres">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <script src="{% static '/scripts/global.js'%}"></script>
    <title>RepliKers</title>
</head>
<body>
    <nav class="barraNavegacion">
        <h4>RepliKers</h4>
        <p class="accesos">🔍︎ Buscador</p>
        <a href="{% url 'replikers'%}" class="accesos">🏠 Home</a>
        <p class="accesos" id="toggle-dark-mode">🌙 Modo oscuro</p>
        <a href="{% url 'index'%}" class="accesos">⌫ Cerrar Sesión</a>
        <div class="contentAgenteNav">
            <span class="contentChatAgenteIA">
                <div class="chatAgenteIA">
                    <!-- Aqui va el chat -->
                    
                </div>
                <div class="input">
                    <input type="text" placeholder="Ingresa su mensaje">
                    <button type="submit">➤</button>
                </div>
            </span>
            <article class="buttonAgenteIA">
                <img src="{% static '/media/iconoAgente.png'%}" alt="ia" srcset="">
                <div class="textAgenteIA">
                    <h5>AI Agent</h5>
                </div>
            </article>
        </div>
    </nav>
    <p id="ocultar">⇱</p>
    
    {% block content %}
        
    {% endblock %}

</body>
</html>